.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  color: #f5f3f3;
}
.navigation-links1-link1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-link2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-link3 {
  color: #f5f3f3;
  margin-left: 32px;
}
.navigation-links1-link4 {
  color: #f5f3f3;
  margin-left: 32px;
}

















@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #26234a;
}
.about-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #5874c9;
}
.about-text {
  font-size: 24px;
}
.about-text01 {
  color: #ffffff;
  font-weight: 700;
}
.about-text02 {
  color: #ffffff;
  font-weight: 400;
}
.about-text03 {
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
}
.about-text04 {
  color: #ffffff;
  font-weight: 400;
}
.about-nav {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-burger-menu {
  display: none;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-image {
  height: 2rem;
}
.about-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-link {
  color: #f5f3f3;
}
.about-link1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
}
.about-link2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
}
.about-link3 {
  color: #f5f3f3;
  margin-left: 32px;
}
.about-link4 {
  color: #f5f3f3;
  margin-left: 32px;
}
.about-text05 {
  color: #fdfafa;
  width: 1145px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-color: #a0a0a0;
  border-width: 1px;
  padding-left: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-container2 {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text07 {
  color: #f9f9f9;
  margin-top: var(--dl-space-space-twounits);
  line-height: 2;
  margin-left: var(--dl-space-space-sixunits);
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #5874c9;
}
.about-text13 {
  color: #f7f5f5;
}
.about-text14 {
  color: #f7f5f5;
}
@media(max-width: 767px) {
  .about-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-nav {
    display: none;
  }
  .about-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .about-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-text13 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .about-header {
    padding: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    padding: 16px;
  }
  .about-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .about-text13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
