.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text {
  color: #fbfafa;
}
.navigation-links1-text1 {
  color: #fbfafa;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text2 {
  color: #fbfafa;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text3 {
  color: #fbfafa;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text4 {
  color: #fbfafa;
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #26234a;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #5874c9;
}
.home-text {
  font-size: 24px;
}
.home-text01 {
  color: #ffffff;
  font-weight: 700;
}
.home-text02 {
  color: #ffffff;
  font-weight: 400;
}
.home-text03 {
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
}
.home-text04 {
  color: #ffffff;
  font-weight: 400;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-text05 {
  top: 306px;
  left: 371px;
  color: #f9f7f7;
  z-index: 2;
  position: absolute;
  font-size: 38px;
  font-style: italic;
}
.home-text06 {
  top: 154px;
  left: 290px;
  color: #f3f0f0;
  padding: 18px;
  z-index: 100;
  position: absolute;
  font-size: 70px;
  align-self: center;
  border-color: #f1f0f0;
  border-style: solid;
  border-width: 15px;
}
.home-image1 {
  width: 1199px;
  height: 461px;
  z-index: 1;
  object-fit: cover;
}
.home-container3 {
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text07 {
  color: #f7f3f3;
  width: 621px;
  height: 42px;
  margin-top: var(--dl-space-space-threeunits);
  border-color: #adacac;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.home-text08 {
  text-align: center;
}
.home-text09 {
  color: #f9f7f7;
  width: 600px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #5874c9;
}
.home-text13 {
  color: #f7f5f5;
}
.home-text14 {
  color: #f7f5f5;
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text13 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
