.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  color: #f5f3f3;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink3 {
  color: #f5f3f3;
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links1-navlink4 {
  color: #f5f3f3;
  margin-left: 32px;
  text-decoration: none;
}

















@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #26234a;
}
.index-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #5874c9;
}
.index-text {
  font-size: 24px;
}
.index-text01 {
  color: #ffffff;
  font-weight: 700;
}
.index-text02 {
  color: #ffffff;
  font-weight: 400;
}
.index-text03 {
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
}
.index-text04 {
  color: #ffffff;
  font-weight: 400;
}
.index-nav {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.index-burger-menu {
  display: none;
}
.index-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.index-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.index-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.index-image {
  height: 2rem;
}
.index-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.index-link {
  color: #f5f3f3;
}
.index-link1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
}
.index-link2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
}
.index-link3 {
  color: #f5f3f3;
  margin-left: 32px;
}
.index-link4 {
  color: #f5f3f3;
  margin-left: 32px;
}
.index-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.index-text05 {
  top: 306px;
  left: 371px;
  color: #f9f7f7;
  z-index: 2;
  position: absolute;
  font-size: 38px;
  font-style: italic;
}
.index-text06 {
  top: 154px;
  left: 290px;
  color: #f3f0f0;
  padding: 18px;
  z-index: 100;
  position: absolute;
  font-size: 70px;
  align-self: center;
  border-color: #f1f0f0;
  border-style: solid;
  border-width: 15px;
}
.index-image1 {
  flex: 1;
  width: 1250px;
  height: 461px;
  opacity: 0.25;
  z-index: 1;
  object-fit: cover;
}
.index-container3 {
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.index-text07 {
  color: #f7f3f3;
  width: 621px;
  height: 42px;
  margin-top: var(--dl-space-space-threeunits);
  border-color: #adacac;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
}
.index-text08 {
  text-align: center;
}
.index-text09 {
  color: #f9f7f7;
  width: 600px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.index-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #5874c9;
}
.index-text13 {
  color: #f7f5f5;
}
.index-text14 {
  color: #f7f5f5;
}
@media(max-width: 767px) {
  .index-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-nav {
    display: none;
  }
  .index-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .index-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-text13 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .index-header {
    padding: var(--dl-space-space-unit);
  }
  .index-mobile-menu {
    padding: 16px;
  }
  .index-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .index-text13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
