.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-navlink {
  color: #f5f3f3;
  text-decoration: none;
}
.navigation-links1-navlink1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links1-navlink3 {
  color: #f5f3f3;
  margin-left: 32px;
  text-decoration: none;
}
.navigation-links1-navlink4 {
  color: #f5f3f3;
  margin-left: 32px;
  text-decoration: none;
}

















@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}

.programming-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #26234a;
}
.programming-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #5874c9;
}
.programming-text {
  font-size: 24px;
}
.programming-text01 {
  color: #ffffff;
  font-weight: 700;
}
.programming-text02 {
  color: #ffffff;
  font-weight: 400;
}
.programming-text03 {
  color: #ffffff;
  font-style: italic;
  font-weight: 400;
}
.programming-text04 {
  color: #ffffff;
  font-weight: 400;
}
.programming-nav {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.programming-burger-menu {
  display: none;
}
.programming-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.programming-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.programming-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programming-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.programming-image {
  height: 2rem;
}
.programming-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programming-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programming-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.programming-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.programming-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programming-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.programming-link {
  color: #f5f3f3;
}
.programming-link1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
}
.programming-link2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
}
.programming-link3 {
  color: #f5f3f3;
  margin-left: 32px;
}
.programming-link4 {
  color: #f5f3f3;
  margin-left: 32px;
}
.programming-text05 {
  color: #fdfafa;
  width: 1145px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  border-color: #a0a0a0;
  border-width: 1px;
  padding-left: var(--dl-space-space-sixunits);
  padding-bottom: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.programming-container2 {
  width: 100%;
  height: 750px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.programming-text07 {
  color: #fbf9f9;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-sixunits);
}
.programming-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: center;
}
.programming-container4 {
  width: 204px;
  height: 137px;
  display: flex;
  align-items: flex-end;
  margin-right: 200px;
  flex-direction: column;
  justify-content: center;
}
.programming-text13 {
  color: #efeaea;
  width: var(--dl-size-size-xlarge);
  font-weight: 700;
  border-color: #949393;
  border-width: 0px;
  border-bottom-width: 5px;
}
.programming-text14 {
  color: #f5f4f4;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  text-decoration: underline;
}
.programming-link5 {
  color: #f5f4f4;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  text-decoration: underline;
}
.programming-container5 {
  width: 204px;
  height: 137px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.programming-text18 {
  color: #efeaea;
  width: var(--dl-size-size-xlarge);
  font-weight: 700;
  border-color: #949393;
  border-width: 0px;
  border-bottom-width: 5px;
}
.programming-link6 {
  color: #f5f4f4;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  text-decoration: underline;
}
.programming-link7 {
  color: #f5f4f4;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  text-decoration: none;
}
.programming-link8 {
  color: #f5f4f4;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  text-decoration: underline;
}
.programming-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #5874c9;
}
.programming-text22 {
  color: #f7f5f5;
}
.programming-text23 {
  color: #f7f5f5;
}
@media(max-width: 767px) {
  .programming-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .programming-nav {
    display: none;
  }
  .programming-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .programming-nav2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .programming-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .programming-text22 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .programming-header {
    padding: var(--dl-space-space-unit);
  }
  .programming-mobile-menu {
    padding: 16px;
  }
  .programming-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .programming-text22 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
