.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-link {
  color: #f5f3f3;
}
.navigation-links1-link1 {
  color: #f9f5f5;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-link2 {
  color: #f5f3f3;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-link3 {
  color: #f5f3f3;
  margin-left: 32px;
}
.navigation-links1-link4 {
  color: #f5f3f3;
  margin-left: 32px;
}

















@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}
